@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

/*font-family: 'Merriweather', serif;*/

:root {
    background-color: rgb(220, 231, 121);
}

body {
    font-family: 'Merriweather', serif;
    font-size: medium;
}

.container {
    margin: auto;
    width: 50%;
}

h1 {
    text-align: center;
    color: mediumvioletred;
}

input,
label {
    border: olive;
    border-radius: 0.7rem;
    display: block;
    border-width: 100%;
}

input {
    border-style: solid;
    width: 100%;
    margin-bottom: 0.5rem;
}

#check-number {
    display: block;
    margin-top: 50%;
    margin: auto;
    padding: 0.5rem;
    background: transparent;
    border-color: whitesmoke;
    border-width: medium;
}

#output-box {
    color: teal;
    text-align: center;
    margin-top: 2rem;
}